@charset "UTF-8";

@font-face {
    font-family: 'logos';
    src: url(../fonts/Social_Shapes.ttf) format(truetype);
}

*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    position: relative;
}
header{
    background-color: #01224D;
    top: 0;
    left: 0;
    height: 7.1rem;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 100;
}
header img{
    height: 3rem;
    padding: 0.7%;
}
header nav{
    margin-top: 0.25%;
    font-size: 1.3rem;
    cursor: pointer;
    display: inline-block;
}
header nav a{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 17.5%;

}
header nav a:hover{
    background-color: #03449ab5;
    transition: 125ms linear;

}
header nav a:active{
    text-decoration: underline;
}
main{
    margin-top: 9rem;
    padding: 0 2rem;
}
h1{
    color: #01224D;
    text-align: center;
    padding-bottom: 0.5rem;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}
main p{
    text-align: justify;
    text-indent: 2rem;
    font-size: 1.2rem;
}
main h2{
    margin-top: 2rem;
    color: #01224D;
    text-align: center;
    padding-bottom: 0.5rem;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#opcao{
    margin: 3rem auto;
    text-align: center;
}
.profi{
    height: 450px;
    width: 350px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.495));
    border-radius: 5%;
    display: inline-block;
    margin-right: 5rem;
}
.profi h2{
    padding-top: 10px;
}
.profi img{
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.495));
    height: 40%;
    margin: auto;
}
.profi p{
    margin-top: 10px;
    padding: 0 20px;
    font-size: 1rem;
}
.profi h3 a{
    padding-top: 16px;
    color: #01224D;
    text-decoration: none;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.profi h3 a:hover{
    text-decoration: underline;
}
footer{
    margin-top: 2rem;
    background-color: #01224D;
    padding: 1rem 0;
    color: #fff;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    text-align: center;
}
footer ul{
    list-style: none;
    padding: 1rem 0;
}
#contato{
    display: inline-block;
    margin-right: 3rem;
}
#redes{
    display: inline-block;
}
#contato ul li{
    text-align: left;
    font-size: 1.2rem;
}
#redes ul li{
    text-align: left;
    font-size: 1.2rem;
}
#redes ul li span{
    font-family: 'logos';
}
#block{
    display: block;
}
footer p{
    margin-top: 2rem;
}
