#cima{
    width: 90%;
    height: 4rem;
    border: 0.250rem;
    border-color: black;
    border-style: solid;
    margin: auto;
}
#meiada{
    width: 300px;
    margin: auto;
}
.meio{
    width: 6.25rem;
    height: 6.25rem;
    border: 0.100rem;
    border-color: black;
    border-style: solid;
    display: flex;
    margin: 5px;
    align-items: center;
}
.linha{
    display: flex;
    flex-direction: row;
    
}
#limpar{
    width: 50%;
    height: 6.25rem;
    border: 0.250rem;
    border-color: black;
    border-style: solid;
    margin: auto;
}