span {
    background-color: blue;
    color: white;
    padding: 5px;
    width: 50%;
    height: 50px;
    
}

@keyframes myAnim {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}